@model IEnumerable<Jazb.Model.ValentearModel.ValentearModel>
@{
    int currentPage = ViewBag.PAGE + 1;
    int count = ViewBag.COUNT;
    int max = ViewBag.TotalRecords / count;
    int firstPage = ((currentPage - 2) <= 0) ? 0 : currentPage - 3;
    int lastPage = ((currentPage + 2) >= max) ? max : currentPage + 3;

    string strclass = "";
}


<div id="user-table">

    @Html.Action(MVC.Admin.Valentear.ActionNames.Search, MVC.Admin.Valentear.Name, new { AzmoonId = ViewBag.PossibleAzmoon })


    @Ajax.ActionLink("ایجاد شماره صندلی", MVC.Admin.Valentear.ActionNames.CreateChairNumber, MVC.Admin.Valentear.Name, new { AzmoonId = ViewBag.PossibleAzmoon }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "main-content", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading", OnBegin = "showLoading" }, new { @class = "btn btn-info" })

<br />
<br />
    @Html.Partial(MVC.Admin.Valentear.Views._FilterBar)
    <table class="table Jazb-table">
        <thead>
            <tr>
                <td></td>
                <td>شماره صندلی</td>
                <td>نام داوطلب</td>
                <td>کد ملی</td>
                <td>شماره شناسنامه</td>
                <td>نام پدر</td>
                <td>شماره همراه</td>
                <td>شهر</td>
                <td>رشته</td>
                <td>عملیات</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var valentear in Model)
            {
                
                <tr >
                    <td>
                         @if (valentear.Accept == 1)
                        {
                            <span class="btn btn-success"style="color:#468847;">
                            <i class=" icon icon-ok" style="color:#468847;"></i>
                                </span>
                        }
                        else if (valentear.Accept == 2)
                        {
                             <span class="btn btn-danger "style="color:#b94a48;">
                             <i class="text-error icon icon-remove" style="color:#b94a48;"></i>
                                   </span>
                        }
                    </td>
                    <td>
                        @valentear.ChairCode
                    </td>
                    <td>
                        @valentear.FirstName  @valentear.LastName
                    </td>
                    <td>
                        @Html.ConvertToPersianString(valentear.NationalID)
                    </td>

                    <td>@Html.ConvertToPersianString(valentear.BirthCertificateNo)
                    </td>
                    <td>
                        @valentear.FatherName
                    </td>
                    <td>
                        @Html.ConvertToPersianString(valentear.Mobile)
                    </td>
                    <td>
                        @valentear.PlaceTitle
                    </td>
                    <td>@valentear.JobTitle</td>
                    <td>
                        @Ajax.ActionLink("تغییر", MVC.Admin.Valentear.ActionNames.Edit, MVC.Admin.Valentear.Name, new { AzmoonId = ViewBag.PossibleAzmoon, NationalId = valentear.NationalID }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "main-content", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading", OnBegin = "showLoading" }, new { @class = "btn btn-info" })


                        @Ajax.ActionLink("تایید ", MVC.Admin.Valentear.ActionNames.StatusAcceptValentear, MVC.Admin.Valentear.Name, new { ValentearId = valentear.Id, AcceptStatus = 1 }, new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, OnBegin = "showLoading", UpdateTargetId = "user-table", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading" }, new { @class = "btn btn-success" })


                       
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger">عدم تایید</button>
                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Ajax.ActionLink("عدم تحویل مدارک", MVC.Admin.Valentear.ActionNames.StatusAcceptValentear, MVC.Admin.Valentear.Name, new { ValentearId = valentear.Id, AcceptStatus = 2, Message= " عدم تحویل مدارک " }, new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, OnBegin = "showLoading", UpdateTargetId = "user-table", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading" })</li>
                                <li>@Ajax.ActionLink("عدم تحویل کل مدارک / نقص در مدارک", MVC.Admin.Valentear.ActionNames.StatusAcceptValentear, MVC.Admin.Valentear.Name, new { ValentearId = valentear.Id, AcceptStatus = 2  ,Message = " کامل نبودن / نقص در مدارک ارسالی " }, new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, OnBegin = "showLoading", UpdateTargetId = "user-table", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading" })</li>
                                <li>@Ajax.ActionLink("عدم تطبیق مدارک ارسال شده", MVC.Admin.Valentear.ActionNames.StatusAcceptValentear, MVC.Admin.Valentear.Name, new { ValentearId = valentear.Id, AcceptStatus = 2 ,Message = " عدم تطبیق مدارک ارسال شده با مدارک ثبت شده در سیستم ثبت نام " }, new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, OnBegin = "showLoading", UpdateTargetId = "user-table", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading" })</li>
                                <li>@Ajax.ActionLink("نداشتن شرایط سنی", MVC.Admin.Valentear.ActionNames.StatusAcceptValentear, MVC.Admin.Valentear.Name, new { ValentearId = valentear.Id, AcceptStatus = 2, Message = " نداشتن شرایط سنی " }, new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, OnBegin = "showLoading", UpdateTargetId = "user-table", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading" })</li>
                                <li>@Ajax.ActionLink("بومی نبودن ", MVC.Admin.Valentear.ActionNames.StatusAcceptValentear, MVC.Admin.Valentear.Name, new { ValentearId = valentear.Id, AcceptStatus = 2, Message = "بومی نبودن " }, new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, OnBegin = "showLoading", UpdateTargetId = "user-table", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading" })</li>

                            </ul>
                        </div>


                                @Ajax.ActionLink("چاپ", MVC.Admin.Valentear.ActionNames.PrintDataByMelicode, MVC.Admin.Valentear.Name, new { AzmoonId = ViewBag.PossibleAzmoon, natinalId = valentear.NationalID }, new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, OnBegin = "showLoading", UpdateTargetId = "user-table", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading" }, new { @class = "btn btn-primary" })

                    </td>

                </tr>
            }
        </tbody>
    </table>

    <div class="pagination pagination-centered">
        <ul>
            <li>@Ajax.ActionLink("ابتدا", MVC.Admin.Valentear.ActionNames.GetDataTableByAzmoon, MVC.Admin.Valentear.Name, new { AzmoonId = ViewBag.PossibleAzmoon, page = 0, term = ViewBag.TERM, count = ViewBag.COUNT, searchBy = ViewBag.SEARCHBY }, new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, OnBegin = "showLoading", UpdateTargetId = "user-table", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading" }, null)</li>
            @for (int i = firstPage; i <= lastPage; i++)
            {
                if (i + 1 == currentPage)
                {
                <li class="active"><a href="#">@Html.ConvertToPersianString(i + 1)</a></li>
                }
                else
                {
                <li>@Ajax.ActionLink(Html.ConvertToPersianString(i + 1).ToString(), MVC.Admin.Valentear.ActionNames.GetDataTableByAzmoon, MVC.Admin.Valentear.Name, new { AzmoonId = ViewBag.PossibleAzmoon, page = i, term = ViewBag.TERM, count = ViewBag.COUNT, searchBy = ViewBag.SEARCHBY }, new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, OnBegin = "showLoading", UpdateTargetId = "user-table", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading" }, null)
                </li>
                }
            }
            <li>@Ajax.ActionLink("انتها", MVC.Admin.Valentear.ActionNames.GetDataTableByAzmoon, MVC.Admin.Valentear.Name, new { AzmoonId = ViewBag.PossibleAzmoon, page = max, term = ViewBag.TERM, count = ViewBag.COUNT, searchBy = ViewBag.SEARCHBY }, new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, OnBegin = "showLoading", UpdateTargetId = "user-table", OnSuccess = "loadAjaxComponents", OnComplete = "hideLoading" }, null)</li>
        </ul>
    </div>


</div>
