
@model Jazb.Model.HomeModel
@using Jazb.Web.Helpers

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section header {
    <!-- Main jumbotron for a primary marketing message or call to action -->
    
    <div class="jumbotron bs_bg">
        <div class="container">

            <div class="row">
                <div class="col  col-md-10  col-xs-7 col-sm-7">
                    <div class="page-header" style="border:0px;">
                        <h1>سامانه جذب نیروی انسانی<small>@ViewBag.CompanyName</small></h1>
                        <p class="text-justify">
                            @*تنها مرجع رسمی انتشار اطلاعیه‌های مربوط به استخدام در @ViewBag.CompanyName.*@ 
                        </p>
                    </div>
                </div>
                <div class="col  col-md-2 col-xs-5 col-sm-5">
                    <img class="image img-responsive img-thumbnail " style="border:solid 1px #fff; margin:10px 5px;" src=@Url.Content(ViewBag.CompanyLogo) alt="@Html.Action(MVC.MetaTag.ActionNames.GetCompanyAddress, MVC.MetaTag.Name)" />

                </div>
            </div>
            
        </div>
    </div>
}


<div class="row">
    <div class="col-md-8">
        @*@Html.Partial("_ListArticle", Model.ArticlesList)*@
        <div class="row">
            <div class="col-md-12">
                
                @Html.Partial("_ListAzmoon", Model.Azmoons)
            </div>
        </div>


    </div>

    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">لیست خبرها</h3>
            </div>
            <div class="panel-body">


                <div class="alert alert-danger">
                    <h2>چاپ فرم تکمیل شده ثبت نام</h2>
                    @using (Html.BeginForm("PrintDataByMelicode", "Valentear", FormMethod.Post,new { @class = "form-horizontal" }))
                    {

                        @Html.AntiForgeryToken()
                        <div class="control-group">
                            <label class="control-label" for="">نوع آزمون</label>
                            <div class="controls">
                                @Html.DropDownList("azmoonzid", ViewBag.AzmoonList as IEnumerable<SelectListItem>, new { @class= "selectpicker show-menu-arrow col-md-12 col-sm-12 col-xs-12" })
                            </div>
                        </div>
                                <div class="control-group">
                                    <label class="control-label" for="Name">نوع آزمون</label>
                                    <div class="controls">
                                        @Html.TextBox("natinalId", null, new { autocomplete = "off", @placeholder = "کد ملی", @class = "form-control", tabindex = 1 })
                                    </div>
                                </div>


                                <button type="submit" class="btn btn-default">جستجو</button>



                    }
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger">

                            <h3>کاربر گرامی</h3>
                            <p>جهت نمایش بهتر سایت از مرورگر FireFox استفاده نمایید</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">


                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


@section featured{

}
