@model Jazb.Model.AdminModel.MarriageStatusViewModel
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        @using (Ajax.BeginForm(MVC.Admin.MarriageStatus.ActionNames.Add, MVC.Admin.MarriageStatus.Name, null, new AjaxOptions { UpdateTargetId = "index-result", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnBegin = "showLoading", OnComplete = "hideLoading", OnSuccess = "LogOnForm.onEndSuccess" }, new { enctype = "multipart/form-data", @class = "form-horizontal", id = "add-Degree-form" }))
        {
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3> جنسیت جدید</h3>
            </div>
            <div class="modal-body">


                @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
                @Html.AntiForgeryToken()


                <div class="control-group">
                    @Html.LabelFor(model => model.marriageStatusCode, new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.marriageStatusCode, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.marriageStatusCode, null, new { @class = "has-error help-block" })
                    
                </div>

                <div class="control-group">
                    @Html.LabelFor(model => model.marriageStatusTitle, new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.marriageStatusTitle, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.marriageStatusTitle, null, new { @class = "has-error help-block" })

                </div>



            </div>
            <div class="modal-footer" style="text-align: right;">
                <input type="submit" value="Save" class="btn btn-primary " />
                <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">بستن</button>
            </div>
        }
    </div>
</div>

<script>
    run(function () {
        $.validator.unobtrusive.parse('#add-Degree-form');

    })

</script>

