@model Jazb.Models.Azmoon
@using KRBMembership.PersianDate

@{
    ViewBag.Title = "Details";
}
@section ContentPanel{

<div class="page-header">
			  <h1>Detail  
			      <small>Azmoon</small>			  
			  </h1>
			</div>

<div class="container" id="divpanle">
    <div class="row">
       <div class="col-xs-6 col-sm-6 col-md-6">


<div class="panel panel-danger">
 
   <div class="panel-body">

    <div class="form-group">
	   @Html.LabelFor(model => model.Name, new { @class = "control-label" })
       @*<div class="control-label">Name</div>*@
       <div class="form-control">@Model.Name</div>
	</div>

    <div class="form-group">
	   @Html.LabelFor(model => model.Title, new { @class = "control-label" })
       @*<div class="control-label">Title</div>*@
       <div class="form-control">@Model.Title</div>
	</div>

    <div class="form-group">
	   @Html.LabelFor(model => model.Discription, new { @class = "control-label" })
       @*<div class="control-label">Discription</div>*@
       <div class="form-control">@Model.Discription</div>
	</div>

    <div class="form-group">
	   @Html.LabelFor(model => model.StartDate, new { @class = "control-label" })
       @*<div class="control-label">StartDate</div>*@
       <div class="form-control">@String.Format("{0:g}", Model.StartDate.ToPeString("dddd, dd MMMM,yyyy"))</div>
	</div>

    <div class="form-group">
	   @Html.LabelFor(model => model.EndDate, new { @class = "control-label" })
       @*<div class="control-label">EndDate</div>*@
       <div class="form-control">@String.Format("{0:g}", Model.EndDate.ToPeString("dddd, dd MMMM,yyyy"))</div>
	</div>

    <div class="form-group">
	   @Html.LabelFor(model => model.Active, new { @class = "control-label" })
       @*<div class="control-label">Active</div>*@
       <div class="form-control">@Model.Active</div>
	</div>
</div>
</div>

</div>
</div>
</div>

<p>
    @Html.ActionLink("Edit ", "Edit", new { id=Model.AzmoonId }, new { @class = "btn btn-info" }) |
    @Html.ActionLink("Back To List", "Index",null, new { @class = "btn btn-default" })
</p>


}
